<mat-sidenav-container>
    <mat-sidenav mode="side" position="end" #sidenav [fixedInViewport]="true">
        <ul id="links">
            <li>
                <a routerLink="/create" *ngIf="isAuthenticated" mat-button (click)="sidenav.close()">Nowa oferta</a>
            </li>
            <li>
                <a routerLink="/my-offers" *ngIf="isAuthenticated" mat-button (click)="sidenav.close()">Twoje oferty</a>
            </li>
            <li>
                <a routerLink="/favorites" *ngIf="isAuthenticated" mat-button (click)="sidenav.close()">Ulubione oferty</a>
            </li>
            <li>
                <a *ngIf="isAuthenticated && !profileID" routerLink="/profile/create" mat-button (click)="sidenav.close()">Stwórz profil</a>
            </li>
            <li>
                <a *ngIf="isAuthenticated && profileID" [routerLink]="['/profile/show', profileID]" mat-button (click)="sidenav.close()">Zobacz profil</a>
            </li>
            <li>
                <a routerLink="/signup" *ngIf="!isAuthenticated" mat-button (click)="sidenav.close()">Zarejestruj się</a>
            </li>
            <li>
                <a routerLink="/login" *ngIf="!isAuthenticated" mat-button (click)="sidenav.close()">Zaloguj się</a>
            </li>
            <li>
                <a *ngIf="isAuthenticated" routerLink="/" mat-button (click)="sidenav.close()" (click)="onLogout()">Logout</a>
            </li>
            
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <h1>
                <a routerLink="/" (click)="sidenav.close()">Autohandel Bojano</a>
            </h1>
            <ul>
                <mat-icon id="favorite" *ngIf="isAuthenticated" routerLink="/favorites">favorite</mat-icon>
                <mat-icon id="chat" *ngIf="isAuthenticated" routerLink="my-messages">chat</mat-icon>
                <h1 *ngIf="isAuthenticated" id="show-nick">Witaj, {{ nickname }} <img [src]='avatar' class="avatar-image"></h1>
                <li>
                    
                    <button mat-icon-button (click)="sidenav.toggle()" (click)="ngOnInit()">
                        <mat-icon>menu</mat-icon>
                    </button>   
                </li>
            </ul>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>

