<mat-sidenav-container>
    <mat-sidenav mode="side" position="end" #sidenav [fixedInViewport]="true">
        <ul id="links">
            <li>
                <a routerLink="/create" mat-button (click)="sidenav.close()">Nowa oferta</a>
            </li>
            <li>
                <a routerLink="/signup" mat-button (click)="sidenav.close()">Zarejestruj się</a>
            </li>
            <li>
                <a routerLink="/login" mat-button (click)="sidenav.close()">Zaloguj się</a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <h1>
                <a routerLink="/" (click)="sidenav.close()">Autohandel Bojano</a>
            </h1>
            <ul>
                <li>
                    <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>   
                </li>
            </ul>
        </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>

