mat-toolbar
    display: flex
    justify-content: space-between
    align-items: center

    a
        text-decoration: none
        color: white

    h1
        font-size: 20px
        color: white
        


a
    text-decoration: none
    color: white

ul
    list-style: none
    display: flex
    justify-items: center
    align-items: center

    #favorite
        color: #ce504c
        margin-right: 10px

    #favorite:hover
        cursor: pointer

    #chat
        margin-right: 10px

    #chat:hover
        cursor: pointer
    
    h1
        color: white
        margin: auto
        display: flex
        align-items: center
        img
            width: 40px
            height: 40px
            border-radius: 50%
            overflow: hidden
            margin-left: 10px

mat-sidenav
    width: 200px
    ul
        flex-direction: column

#links
    margin-right: 1rem

#show-nick:hover
    cursor: default