<mat-card>
    <h1 *ngIf="mode === 'create'">Wypełnij formularz oferty</h1>
    <h1 *ngIf="mode === 'edit'">Edytuj ofertę</h1>

    <mat-divider></mat-divider>
    <form [formGroup]="form" (submit)="onPublishOffer()">
        <h3>Tytuł ogłoszenia</h3>
        <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
            <mat-label>Tytuł (max 40 znaków)</mat-label>
            <input matInput type="text" formControlName="nazwa">
        </mat-form-field>
        <div id="divider">
            <section id="marka-info" class="form-div">

                <h3 *ngIf="mode === 'create'">Podaj podstawowe informacje o swoim aucie</h3>
                <h3 *ngIf="mode === 'edit'">Edytuj podstawowe informacje o swoim aucie</h3>

                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                    <mat-label>Marka samochodu</mat-label>
                    <input matInput type="text" formControlName="marka" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (marka of filteredBrands | async; track marka) {
                          <mat-option [value]="marka">{{ marka }}</mat-option>
                        }
                        </mat-autocomplete>
                </mat-form-field>
        
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                    <mat-label>Model samochodu</mat-label>
                    <input matInput type="text" formControlName="model" [matAutocomplete]="autoModel">
                    <mat-autocomplete #autoModel="matAutocomplete">
                        @for (model of filteredModels | async; track model) {
                          <mat-option [value]="model">{{ model }}</mat-option>
                        }
                        </mat-autocomplete>
                </mat-form-field>
        
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                    <mat-label>Rok produkcji</mat-label>
                    <input matInput type="number" formControlName="rok_produkcji">
                </mat-form-field>
        
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                    <mat-label>Przebieg</mat-label>
                    <input matInput type="number" formControlName="przebieg">
                </mat-form-field>
        
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                    <mat-label>Spalanie [l/100km]</mat-label>
                    <input matInput type="text" pattern="[0-9]+([\.,][0-9]+)?" formControlName="spalanie">
                </mat-form-field>
        
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                    <mat-label>Pojemność silnika [cm³]</mat-label>
                    <input matInput type="number" formControlName="pojemnosc_silnika">
                </mat-form-field>
        
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                    <mat-label>Rodzaj paliwa</mat-label>
                    <mat-select formControlName="rodzaj_paliwa">
                        @for (paliwo of rodzaj_paliw; track paliwo ) {
                        <mat-option [value]="paliwo.value">{{ paliwo.value }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </section>
            <section id="right-section">
                <div id="description" class="form-div">
                    <h3 *ngIf="mode === 'create'">Poniższy opis powinien w jak największym stopniu zachęcić kupca do skorzystania z oferty</h3>
                    <h3 *ngIf="mode === 'edit'">Edytuj opis oferty</h3>

                    <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                        <mat-label>Opis (opcjonalne)</mat-label>
                        <textarea matInput formControlName="opis"></textarea>
                    </mat-form-field>
                </div>
                <mat-divider></mat-divider>
                <div id="price" class="form-div">
                    <h3 *ngIf="mode === 'create'">Proszę podać cenę</h3>
                    <h3 *ngIf="mode === 'edit'">Edytuj cenę</h3>

                    <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                        <mat-label>Cena</mat-label>
                        <input matInput type="number" formControlName="cena">
                    </mat-form-field>
                </div>
                <h3 *ngIf="mode === 'create'">Dodaj zdjęcia samochodu (max. 6 zdjęć)</h3>
                <h3 *ngIf="mode === 'edit'">Edytuj zdjęcia samochodu (max. 6 zdjęć)</h3>

            <div class="photo-button">
                <button mat-button type="button" (click)="filePicker.click()" *ngIf="imgURLs.length === 0 || form.get('images')?.invalid">
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#A6A8AA">
                        <path d="M440-440ZM120-120q-33 0-56.5-23.5T40-200v-480q0-33 23.5-56.5T120-760h126l74-80h240v80H355l-73 80H120v480h640v-360h80v360q0 33-23.5 56.5T760-120H120Zm640-560v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80ZM440-260q75 0 127.5-52.5T620-440q0-75-52.5-127.5T440-620q-75 0-127.5 52.5T260-440q0 75 52.5 127.5T440-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Z"/>
                    </svg>
                </button>
                <input type="file" hidden #filePicker (change)="onImagePicked($event)" multiple>
            </div>
            <div class="images" *ngIf="imgURLs.length > 0 && form.get('images')?.valid">
                <div class="img-preview"  *ngFor="let imgURL of imgURLs">
                    <img  [src]="imgURL" [alt]="form.value.title" (click)="filePicker.click()" title="Wybierz zdjęcie">
                </div>
            </div>
            </section>
        </div>
        <button type="submit" mat-raised-button color="primary" *ngIf="mode === 'create'">OPUBLIKUJ OFERTĘ</button>
        <button type="submit" mat-raised-button color="accent" *ngIf="mode === 'edit'">ZATWIERDŹ ZMIANY</button>

    </form>
</mat-card>
