mat-form-field, input
    width: 100%
    margin: auto

form
    width: 80%
    margin: 1rem auto
    height: 100%
    

mat-card
    width: 80%
    margin: 2rem auto


    h1
        text-align: center
        color: #546E7A

section
    width: 50%
    height: 100%
    margin: auto 1rem

h3
    text-align: center
    color: #546E7A


#right-section
    height: 100%
    display: flex
    flex-direction: column
    align-self: center

#divider
    display: flex

#car-info
    border-right: 2px solid #80a4b4
    padding-right: 2rem
    
    