<section class="main-page">
    <form [formGroup]="form" class="searchbar" (submit)="onSearch()" *ngIf="mode === 'search'">
        <mat-card class="search-card">
            <mat-card-header>
                <mat-card-title>Wyszukaj ofertę</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true" class="search-select">
                    <mat-label>Marka samochodu</mat-label>
                    <input matInput type="text" formControlName="marka" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (marka of filteredBrands | async; track marka) {
                          <mat-option [value]="marka">{{ marka }}</mat-option>
                        }
                        </mat-autocomplete>
                </mat-form-field>
        
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true" class="search-select">
                    <mat-label>Model samochodu</mat-label>
                    <input matInput type="text" formControlName="model" [matAutocomplete]="autoModel">
                    <mat-autocomplete #autoModel="matAutocomplete">
                        @for (model of filteredModels | async; track model) {
                          <mat-option [value]="model">{{ model }}</mat-option>
                        }
                        </mat-autocomplete>
                </mat-form-field>
                <div class="price-slider">
                    <h3>Przedział cenowy</h3>
                    <mat-slider min="0" max="100000" step="100" discrete [displayWith]="formatLabel">
                        <input matSliderStartThumb formControlName="cenaMin">
                        <input matSliderEndThumb formControlName="cenaMax">
                    </mat-slider>
                </div>
                
                <div class="year">
                    <mat-form-field class="year-input">
                        <mat-label>Min. rok produkcji</mat-label>
                        <input matInput type="number" formControlName="rokProdukcjiMin">  
                    </mat-form-field>
    
                    <mat-form-field class="year-input">
                        <mat-label>Max. rok produkcji</mat-label>
                        <input matInput type="number" formControlName="rokProdukcjiMax"> 
                    </mat-form-field>
                </div>

                <mat-form-field class="year-input">
                    <mat-label>Max. przebieg</mat-label>
                    <input matInput type="number" formControlName="przebiegMax" step="1000"> 
                </mat-form-field>
                <mat-form-field class="search-select">
                    <mat-label>Rodzaj paliwa</mat-label>
                    <mat-select formControlName="rodzajPaliwa">
                        @for (paliwo of rodzaj_paliw; track paliwo ) {
                        <mat-option [value]="paliwo.value">{{ paliwo.value }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <button type="submit" mat-raised-button color="accent" (click)="onSearch()">SZUKAJ</button>
            </mat-card-content>
        </mat-card>

    </form>
    <h1 *ngIf="mode === 'search'">Znalezione oferty</h1>
    <h1 *ngIf="mode === 'my-offers'">Twoje aktualne oferty</h1>

    <p *ngIf="offers.length <= 0 && mode === 'search'" id="no-offers">Brak znalezionych ofert! Zmień opcje filtrowania wyników</p>
    <p *ngIf="offers.length <= 0 && mode === 'my-offers'" id="no-offers">Nie masz żadnych aktualnych ofert! <a href="/create">Utwórz nową ofertę</a></p>

    <div class="card-container">
        <mat-card *ngFor="let offer of offers" (click)="showOffer(offer.id)" class="offer">
            <div class="image">
                <img [src]="offer.imagePath" [alt]="offer.nazwa">
            </div>
            <div class="content">
                <mat-card-header>
                    <div class="header-text">  
                        <mat-card-title> {{ offer.nazwa }}</mat-card-title>
                        <mat-card-subtitle> {{ offer.marka }} {{ offer.model }}</mat-card-subtitle>
                    </div>  
                </mat-card-header>
                <mat-card-content>
                    <table>
                        <tr>
                            <th>Rok produkcji:</th><td>{{ offer.rok_produkcji }}</td><th>Przebieg:</th><td>{{ offer.przebieg }} km</td>
                        </tr>
                        <tr>
                            <th>Rodzaj paliwa:</th><td>{{ offer.rodzaj_paliwa }}</td><th>Pojemność silnika:</th><td>{{ offer.pojemnosc_silnika }} cm³</td>
                        </tr>
                        <tr>
                            <th>Spalanie:</th><td>{{ offer.spalanie }} l/100km</td>
                        </tr>
                    </table>
                    <h1>{{ offer.cena }} zł</h1>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</section>
