<mat-card *ngIf="profile">

    <mat-card-title><h1>Twój profil</h1></mat-card-title>
    <mat-card-content>
        <section>
            <h2>Twoje dane logowania</h2>
            <h4>E-mail: {{ profile.email }}</h4>
            <h4>Nickname: {{ profile.nickname }}</h4>
            <button type="button" mat-raised-button color="accent" [routerLink]="['/profile/edit/change-password', profile.userID]">ZMIEŃ HASŁO</button>
        </section>
        <section>
            <h2>Twoje dane personalne i kontaktowe</h2>
            <h4>Imię: {{ profile.imie }}</h4>
            <h4>Nazwisko: {{ profile.nazwisko }}</h4>
            <h4>Adres zamieszkania:<br> ul. {{ profile.adres }}<br> {{ profile.adresMiasto }}</h4>
            <h4>Numer telefonu: {{ profile.nrTelefonu }}</h4>
            <button type="button" mat-raised-button color="accent" [routerLink]="['/profile/edit/profile-info', profile.id]">EDYTUJ DANE PERSONALNE I KONTAKTOWE</button>
        </section>
    </mat-card-content>
    
</mat-card>

