<mat-card *ngIf="offer">
    <mat-card-header>
        <div class="header-info">
            <div class="header-text">
                <div>
                    <mat-card-title> {{ offer.nazwa }}</mat-card-title>
                    <mat-card-subtitle> {{ offer.marka }} {{ offer.model }}</mat-card-subtitle>
                </div>
                <mat-icon id="heart-clicked" *ngIf="isAuth && offer.czyUlubione && userID !== offer.creator" (click)="onRemoveFromFavorites($event, offer.id)">favorite</mat-icon>
                <svg *ngIf="isAuth && !offer.czyUlubione && userID !== offer.creator" (click)="onAddToFavorites($event, offer.id)" title="Dodaj do ulubionych"  id='heart' xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#D16D6A"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg>
            </div>
            <mat-divider></mat-divider>
            <h3>Opis oferty:</h3>
            <p>
                {{ offer.opis }}
            </p>
        </div>
        <div class="header-info">
            <img [src]="offer.imagePath">
        </div>
        
    </mat-card-header>

    <mat-card-content>
        
        <mat-divider></mat-divider>
        <table>
            <tr>
                <th>Rok produkcji:</th>
                <td>{{ offer.rok_produkcji }}</td>
                <th>Przebieg:</th>
                <td>{{ offer.przebieg }} km</td>
            </tr>
            <tr>
                <th>Spalanie:</th>
                <td>{{ offer.spalanie }} l/100km</td>
                <th>Pojemność silnika:</th>
                <td>{{ offer.pojemnosc_silnika }} cm³</td>
            </tr>
            <tr>
                <th>Rodzaj paliwa:</th>
                <td>{{ offer.rodzaj_paliwa }}</td>
            </tr>
        </table>
        <h1>{{ offer.cena }} zł</h1>
        <mat-divider></mat-divider>
        <div class="buttons">
            <button mat-raised-button type="button" color="warn" (click)="onDelete(offer.id)" *ngIf="userID && userID === offer.creator">USUŃ OFERTĘ</button>
            <button mat-raised-button type="button" color="accent" [routerLink]="['/edit', offer.id]" *ngIf="userID && userID === offer.creator">EDYTUJ OFERTĘ</button>  

            <button mat-raised-button type="button" color="accent" *ngIf="isAuth && userID && userID !== offer.creator">NAPISZ WIADOMOŚĆ</button>
            <h2 *ngIf="showPhone">+48 {{ profile.nrTelefonu }}</h2>
            <button mat-stroked-button type="button" color="primary" *ngIf="isAuth && userID && userID !== offer.creator" (click)="onShowPhone()" [hidden]="showPhone">POKAŻ NUMER TELEFONU</button>
            <h2 *ngIf="!isAuth" id="log-info"><a routerLink="/login">Zaloguj się, aby skontaktować się ze sprzedawcą</a></h2>
        </div>
        
        
    </mat-card-content>
    <mat-card-footer>
        <p>ID: {{ offer.id }} Dodano: {{ offer.date }}</p>
    </mat-card-footer>
</mat-card>
