mat-card
    width: 60%
    margin: 1rem auto


mat-divider
    margin-bottom: 1rem

table
    table-layout: fixed

td, th
    text-align: start
    padding: 5px 20px

h1
    text-align: end
    color: #546E7A

button
    margin: auto 5px
    font-size: 12px

.header-info
    width: 50%

    .header-text
        display: flex
        justify-content: space-between
        align-items: center

        #heart-clicked
            color: #D16D6A
            font-size: 40px
            width: 40px
            height: 100%
            margin: 10px

        #heart:hover
            fill: black
            cursor: pointer

        #heart-clicked:hover
            color: black
            cursor: pointer
        
        #heart
            margin: 10px
    

mat-card-header
    display: flex
    justify-content: space-between


    img
        width:100%
        border-radius: 10px

mat-card-footer
    font-size: 10px
    text-align: end
    margin: auto 5px

.buttons
    display: flex
    h2
        color: #546E7A
        margin-left: 10px

    #log-info
        text-align: center
        margin: auto

    a
        text-decoration: none
        color: #546E7A