<mat-card *ngIf="offer">
    <mat-card-header>
        <div class="header-info">
            <mat-card-title> {{ offer.nazwa }}</mat-card-title>
            <mat-card-subtitle> {{ offer.marka }} {{ offer.model }}</mat-card-subtitle>
            <mat-divider></mat-divider>
            <h3>Opis oferty:</h3>
            <p>
                {{ offer.opis }}
            </p>
        </div>
        <div class="header-info">
            <img [src]="offer.imagePath">
        </div>
        
    </mat-card-header>

    <mat-card-content>
        
        <mat-divider></mat-divider>
        <table>
            <tr>
                <th>Rok produkcji:</th>
                <td>{{ offer.rok_produkcji }}</td>
                <th>Przebieg:</th>
                <td>{{ offer.przebieg }} km</td>
            </tr>
            <tr>
                <th>Spalanie:</th>
                <td>{{ offer.spalanie }} l/100km</td>
                <th>Pojemność silnika:</th>
                <td>{{ offer.pojemnosc_silnika }} cm³</td>
            </tr>
            <tr>
                <th>Rodzaj paliwa:</th>
                <td>{{ offer.rodzaj_paliwa }}</td>
            </tr>
        </table>
        <h1>{{ offer.cena }} zł</h1>
        <mat-divider></mat-divider>
        <div class="buttons">
            <button mat-raised-button type="button" color="warn" (click)="onDelete(offer.id)" *ngIf="userID && userID === offer.creator">USUŃ OFERTĘ</button>
            <button mat-raised-button type="button" color="accent" [routerLink]="['/edit', offer.id]" *ngIf="userID && userID === offer.creator">EDYTUJ OFERTĘ</button>  

            <button mat-raised-button type="button" color="accent" *ngIf="isAuth && userID && userID !== offer.creator">NAPISZ WIADOMOŚĆ</button>
            <h2 *ngIf="showPhone">+48 {{ profile.nrTelefonu }}</h2>
            <button mat-stroked-button type="button" color="primary" *ngIf="isAuth && userID && userID !== offer.creator" (click)="onShowPhone()" [hidden]="showPhone">POKAŻ NUMER TELEFONU</button>
        </div>
        
        
    </mat-card-content>
    <mat-card-footer>
        <p>ID: {{ offer.id }} Dodano: {{ offer.date }}</p>
    </mat-card-footer>
</mat-card>
