mat-card
    width: 50%
    margin: 2rem auto

    h1
        text-align: center
        color: #546E7A

    h2
        color: #546E7A

    .wpisy
        display: flex
        justify-content: space-between
        align-items: center

    .post
        display: flex

        .autor
            width: 30%
            text-align: center
            color: #546E7A

        .content
            width: 70%

            .title

                line-height: 0.5px

                h3
                    color: #546E7A

                p
                    color: #9faaaf
                    font-weight: bold
                    font-size: 12px