<mat-card>
    <h1>Forum dyskusyjne</h1>
    <mat-card-content>
        <div class="wpisy">
            <h2> Wpisy:</h2>
            <p><a routerLink="create">+ Utwórz nowy wpis</a></p>
        </div>
        <mat-divider></mat-divider>
        <div class="post">
            <div class="autor">
                <h4>Autor wpisu perzan22</h4>
            </div>
            <div class="content">
                <div class="title">
                    <h3>Test</h3>
                    <p>02.06.2024</p>
                </div>
                <mat-divider></mat-divider>
                <div class="post-content">
                    <p>Test test testv test</p>
                </div>
            </div> 
        </div>
        <mat-divider></mat-divider>
        
    </mat-card-content>
</mat-card>

