<mat-card>
    <mat-card-title>
        <h1 *ngIf="mode === 'create'">Załóż profil użytkownika</h1>
        <h1 *ngIf="mode === 'edit'">Edytuj profil użytkownika</h1>

    </mat-card-title>
    <mat-card-content>
        <h2>Twoje dane logowania:</h2>
        <h4>E-mail: {{ email }}</h4>
        <h4>Twój nick: {{ nickname }}</h4>
        <form [formGroup]="form" (submit)="onSubmit()">
            <h2 *ngIf="mode === 'create'">Podaj dane personalne:</h2>
            <h2 *ngIf="mode === 'edit'">Edytuj dane personalne:</h2>

            
            <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                <mat-label>Imię</mat-label>
                <input matInput type="text" formControlName="imie">
            </mat-form-field>

            <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                <mat-label>Nazwisko</mat-label>
                <input matInput type="text" formControlName="nazwisko">
            </mat-form-field>

            <h2 *ngIf="mode === 'create'">Podaj dane kontaktowe:</h2>
            <h2 *ngIf="mode === 'edit'">Edytuj dane kontaktowe:</h2>


            <div id="adres">
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true" id="ulica">
                    <mat-label>Ulica</mat-label>
                    <input matInput type="text" formControlName="ulica">
                </mat-form-field>
    
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true"  class="ulica-numer">
                    <mat-label>Nr budynku</mat-label>
                    <input matInput type="number" formControlName="nrBudynku">
                </mat-form-field>
    
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true"  class="ulica-numer">
                    <mat-label>Nr mieszkania</mat-label>
                    <input matInput type="number" formControlName="nrMieszkania">
                </mat-form-field>
    
                <mat-form-field floatLabel="auto" [hideRequiredMarker]="true" id="miasto">
                    <mat-label>Miasto</mat-label>
                    <input matInput type="text" formControlName="miasto">
                </mat-form-field>
            </div>
            

            <mat-form-field floatLabel="auto" [hideRequiredMarker]="true">
                <mat-label>Nr telefonu</mat-label>
                <input matInput type="tel" formControlName="nrTelefonu">
            </mat-form-field>

            <h2>Dodaj zdjęcie profilowe</h2>
            <div>
                <button mat-button type="button" (click)="filePicker.click()"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="24px" fill="#A6A8AA"><path d="M440-440ZM120-120q-33 0-56.5-23.5T40-200v-480q0-33 23.5-56.5T120-760h126l74-80h240v80H355l-73 80H120v480h640v-360h80v360q0 33-23.5 56.5T760-120H120Zm640-560v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80ZM440-260q75 0 127.5-52.5T620-440q0-75-52.5-127.5T440-620q-75 0-127.5 52.5T260-440q0 75 52.5 127.5T440-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Z"/></svg></button>
                <input type="file" hidden #filePicker (change)="onImagePicked($event)">
            </div>
            <div class="img-preview" *ngIf="imgURL !== '' && imgURL && form.get('image')?.valid">
                <img [src]="imgURL" [alt]="form.value.title">
            </div>

            <button type="submit" mat-raised-button color="accent" *ngIf="mode === 'create'">ZAŁÓŻ PROFIL</button>
            <button type="submit" mat-raised-button color="accent" *ngIf="mode === 'edit'">ZATWIERDŹ ZMIANY</button>

        </form>
    </mat-card-content>
    
</mat-card>