<mat-card class="chat-container">
    <mat-card-header>
        <mat-card-title>Czat z użytkownikiem ...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="receiver-msg">
            <img src="http://localhost:3000/images/avatars/default_avatar.jpg">
            <p>Witam</p>
        </div>
        <div class="sender-msg">
            <p>Cześć</p>
            <img src="http://localhost:3000/images/avatars/default_avatar.jpg">
        </div>
        <mat-divider></mat-divider>
        <div class="sender-container">
            <mat-form-field class="message-input-container">
                <input matInput placeholder="Wyślij wiadomość">
            </mat-form-field>
            <button type="button" mat-raised-button color="primary">Wyślij</button>
        </div>
    </mat-card-content>
    
</mat-card>